# Miscellaneous
*.log
*.swp
.DS_Store
.atom/
coverage/
coverage.lcov

# VS Cdoe
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Dart
**/doc/api/
.dart_tool/
